@media only screen and (min-width: 769px) {
    /* HEADER AREA START */
    .header {
        justify-self: center;
        width: 50vw;
        margin: 20px;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 6px;
    }

    .header > img {
        width: 100px;
        margin: 10px;
        margin-left: 40px;
    }

    .score {
        padding: 30px;
        margin: 10px;
        margin-right: 40px;
        border: 1px solid white;
        border-radius: 6px;
    }
    /* HEADER AREA END */

    /* PICK AREA START */
    .pickArea {
        justify-self: center;
    }

    .pickArea, .picks {
        width: 100vw;
        height: 50vh;
    }

    .pentagon {
        width: 250px;
        height: 250px;
        margin-top: 25px;
        position: relative;
        left: 850px;
    }

    .pickArea :not(:first-child) {
        position: relative;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* PICK AREA END */

    /* ICONS START */
    .pickArea :not(:first-child) > img {
        width: 60px;
        height: 60px;
    }

    .pickArea > .rockBtn {
        bottom: 50px;
        left: 1000px;
    }

    .pickArea > .paperBtn {
        bottom: 290px;
        left: 1030px;
    }

    .pickArea > .scissorsBtn {
        bottom: 450px;
        left: 925px;
    }

    .pickArea > .lizardBtn {
        bottom: 320px;
        left: 850px;
    }

    .pickArea > .spockBtn {
        bottom: 560px;
        left: 800px;
    }
    /* ICONS END */

    /* PICKS START */
    .picks {
        margin-bottom: -60px;
    }

    .player {
        grid-template-areas: 
        "playerPick"
        "playerSelection";
    }
    

    .playerSelection,
    .houseSelection {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }

    .playerSelection {
        grid-area: playerSelection;
    }

    .playerPick {
        grid-area: playerPick;
    }

    .playerSelection > * {
        position: relative;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playerSelection > * > img {
        width: 150px;
        height: 150px;
    }

    .house {
        grid-template-areas: 
        "housePick"
        "houseSelection";
    }

    .houseSelection {
        grid-area: houseSelection;
    }

    .housePick {
        grid-area: housePick;
    }


    .houseSelection > * {
        position: relative;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .houseSelection > * > img {
        width: 150px;
        height: 150px;
    }

    .playerPick, .housePick {
        font-size: 20px;
        margin-bottom: 20px;
        align-self: flex-end;
    }
    /* PICKS END */

    /* RULES START */
    .rules {
        justify-self: flex-end;
        align-self: flex-end;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 20px;
        width: 8vw;
        color: white;
        border: 1px solid white;
        border-radius: 6px;
        text-align: center;
    }
    /* RULES END */ 
    
}