/* GENERAL STYLES START */
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 0.2fr 0.6fr 0.2fr 0.2fr 0.1fr 0.3fr;
    height: 100vh;
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    grid-template-areas: 
    "hd"
    "pA"
    "."
    "."
    "rules"
    "att";
}
/* GENERAL STYLES END */

/* GENERAL HEADER STYLES START */
.header {
    display: grid;
    grid-area: hd;
    grid-template-columns: 1fr 1fr;
}

.score {
    justify-self: flex-end;
    align-self: center;
    color: hsl(229, 64%, 46%);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreVal {
    color: hsl(229, 25%, 31%);
}
/* GENERAL HEADER STYLES END */

/* GENERAL PICK AREA STYLES START */
.pickArea {
    grid-area: pA;
}

.pickArea :not(:first-child) > img {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}
/* GENERAL PICK AREA STYLES END */

/* GENERAL BUTTON STYLES START */
.rockBtn {
    background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    border-radius: 50%;
}

.paperBtn {
    background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    border-radius: 50%;
}

.scissorsBtn {
    background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    border-radius: 50%;
}

.lizardBtn {
    background-image: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    border-radius: 50%;
}

.spockBtn {
    background-image: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    border-radius: 50%;
}
/* GENERAL BUTTON STYLES END */

/* HIDE DIV ELEMENTS UNTIL NEEDED START*/
.picks, .result, .playAgain {
    display: none;
}
/* HIDE DIV ELEMENTS UNTIL END */

/* GENERAL PICKS STYLE START */
.picks {
    grid-template-columns: 1fr 1fr;
}

.picks > .player > .playerSelection > * > img {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.player {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.playerPick, .housePick {
    color: white;
}

.picks > .house > .houseSelection > * > img {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.house {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.houseSelection {
    display: none;
}
/* GENERAL PICKS STYLE END */

/* GENERAL ATTRIBUTION START */
.attribution {
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%);
    grid-area: att;
    align-self: flex-end;
}
/* GENERAL ATTRIBUTION END */
/* RULES + RULES ADJACENT START */
.rules {
    grid-area: rules;
}

.rulesPopUp {
    display: none;
    z-index: 1;
}
/* RULES + RULES ADJACENT END */